$bg_color: #f9f9f9;
$text_color: #222;
$font_family: 'Poppins', sans-serif;

$border-radius-high: 999rem;
$columns: 3;

$white_color: #fff;
$black_color: #000;
$light_gray: #ccc;

$yellow-sticky: #ffff00;
$yellow-dark-sticky: #f0f000;
$green-sticky: #caf957;
$green-dark-sticky: #b7f71c;
$pink-sticky: #fdaedd;
$pink-dark-sticky: #fc95d3;